<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kafe Application</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>


<div class="container w-50 p-3">
  <h1 class="display-6">Orders</h1>


  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr style="text-align: center; vertical-align: top; " class="table-secondary">
      <th>DateTime</th>
      <th>Status</th>
      <th>Total</th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${#temporals.format(order.timestamp, 'dd/MM/yyyy HH:mm')}"></td>
      <td th:text="${order.status}"></td>
      <td style="text-align: right" th:text="${#numbers.formatDecimal(order.total, 1, 'COMMA', 2, 'POINT')}">
      </td>
      <td style="text-align: center">
        <a class="btn btn-primary" th:href="@{/admin/orders/{id}(id=${order.id})}">View</a>
      </td>
    </tr>
    </tbody>
  </table>


</body>
</html>